/**
 *
 * Box
 *
 */

.box {
    .box-heading {
        color: $color-text-light;

        font-size: 18px;

        margin-bottom: $baseline;
        padding-bottom: $baseline / 2;

        border-bottom: 1px solid lighten($color-text-light, 30%);
    }

    .no-books {
        i {
            color: lighten($color-text, 65%);
            font-size: 300px;
        }
        p {
            color: lighten($color-text, 60%);
            font-size: 18px;
        }
    }
}

.card {
    border-radius: $btn-border-radius;

    background-color: white;

    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.1);

    overflow: hidden;

    margin-bottom: 20px;

    .card-top {
        text-align: center;

        overflow: hidden;
        a {
            display: block;

            padding: 17px 10px 10px;
        }

        img {
            max-width: 100%;
            height: 165px;

            object-fit: cover;

            vertical-align: top;
        }
    }

    .card-content {
        padding: 10px 15px 0px 15px;

        text-align: center;

        h5 {
            color: $color-text-light;

            min-height: 28px;

            margin-bottom: 5px;
        }

        p {
            font-size: 12px;

            color: lighten($color-text-light, 20%);
        }
    }

    .card-bottom {
        display: table;
        text-align: left;
        width: 100%;
        border-top: 1px solid $color-hr;

        .price {
            display: table-cell;

            padding: 0 7px 0 16px;

            vertical-align: middle;
            text-align: left;

            color: $color-text;

            float: none;

            font-size: 14px;
            font-weight: bold;
        }

        .shop {
            text-align: center;

            display: inline-block;

            float: right;

            border-left: 1px solid $color-hr;

            a {
                display: block;

                height: 50px;
                width: 56px;

                color: $color-text-light;

                background-color: #F5F5F5;

                &:hover {
                    color: #FFFFFF;
                    background-color: $color-link;
                }

                i {
                    height: 50px;
                    line-height: 53px;

                    font-size: 18px;
                }
            }
        }
    }
}
