/**
 *
 * Buttons
 *
 */

 button:focus,
 a:focus,
 input:focus,
 .btn:focus {
    outline: none;

    border-color: #c6c6c6;
    border-color: #c6c6c6;
    background-image: linear-gradient(90deg,#F5F5F5,#F1F1F1);
    background: $color-bg-btn;
    color: $color-text-btn;
 }

 button:active,
 a:active,
 input:active,
 .btn:active {
    outline: none;

    border-color: #c6c6c6;
    background-image: linear-gradient(90deg,#F5F5F5,#F1F1F1);
    background: $color-bg-btn;
    color: $color-text-btn;
 }

 button:active:focus,
 a:active:focus,
 input:active:focus,
 .btn:active:focus {
    outline: none;

    border-color: #c6c6c6;
    background-image: linear-gradient(90deg,#F5F5F5,#F1F1F1);
    background: $color-bg-btn;
    color: $color-text-btn;
 }

 .btn {
    background-image: linear-gradient(90deg,#F5F5F5,#F1F1F1);
    background: $color-bg-btn;
    color: $color-text-btn;

    font-weight: 400;

    display: inline-block;

    border: 1px solid #DDDDDD;
    border-radius: $btn-border-radius;

    max-width: 10em;
    width: auto;

    padding: 10px 20px;

    text-align: center;

    &:hover {
        border: 1px solid #c6c6c6;
        background-image: linear-gradient(90deg,#F9F9F9,#F7F7F7);
        background: #F6F6F6;
        color: #222;

        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

    i {
        font-size: 16px;

        vertical-align: middle;
    }
}



