/**
 *
 * Categories
 *
 */

.categories {
    margin-bottom: $baseline;

    .owl-stage {
        padding: 5px 0px;
    }

    .item {
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);

        border-radius: $btn-border-radius;

        padding: 15px 45px;

        display: block;

        background-color: #FFFFFF;

        &:hover {
            background-color: #FEFEFE;
        }
    }
}

.fixed-nav {
    z-index: 9999;

    position: fixed;
    left: 0;
    top: 0;

    display: none;
    padding: 15px;

    background-color: #FFFFFF;

    width: 100%;

    .toggle {
        float: right;

        i {
            font-size: 25px;
        }
    }

    .logo {
        float: left;
    }
}
