/**
 *
 * Footer
 *
 */

footer {
    background-color: #FFFFFF;

    margin-top: $baseline;

    .footer-top {
        padding: $baseline * 2 0;

        border-bottom: 1px solid $color-hr;

        h3 {
            text-transform: uppercase;
        }

        ul {
            list-style-type: none;

            margin-top: $baseline;

            li {
                padding: 10px 0px;

                a {
                    text-transform: uppercase;

                    font-size: 14px;

                    color: lighten($color-text, 25%);

                    &:hover {
                        color: lighten($color-text, 50%);
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: $baseline 0;

        .social {
            float: right;

            ul li {
                list-style-type: none;

                float: left;

                margin-left: 24px;

                a {
                    font-size: 24px;
                }
            }
        }
    }
}
