/**
 *
 * Forms
 *
 */

.form-group {
    margin-bottom: $baseline;
}

form {
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        border: 1px solid $color-hr;

        background-color: white;
        padding: 10px 20px;

        width: 100%;

        display: inline-block;

        outline: none;

        transition: box-shadow 0.2s;

        vertical-align: middle;

        &:hover {
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 0 0 0.5px rgba(0,0,0,0.01);
        }

        &:focus {
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.02);
        }
    }

    label {
        color: $color-text;

        font-size: 16px;
        font-weight: 400;
    }

    .search {
        width: auto !important;

        max-width: 100%;
    }

}


