/**
 *
 * Header
 *
 */

.main-header {
    background-color: white;

    box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
}

.top-line {
    padding: $baseline 0;

    border-bottom: 1px solid $color-hr;
}

.top-line nav {
    &.another-nav {
        float: right;
    }

    ul {
        list-style-type: none;

        &.dropdown {
            display: none;

            position: absolute;
            top: 100%;
            left: calc(50% - 42px / 2);

            border: 1px solid $color-hr;
            border-radius: 3px;

            background-color: white;

            z-index: 9999;

            li {
                display: block;

                margin: 0;

                line-height: $baseline;

                a {
                    text-transform: none;

                    display: block;

                    white-space: nowrap;

                    font-size: 12px;

                    padding: 5px 15px;

                    &:hover {
                        background-color: #F9F9F9;
                    }
                }
            }
        }

        li {
            display: inline;
            position: relative;

            margin-left: $baseline;

            .toggle {
                display: block;
            }

            // &:hover ul{
            //     display: block;
            // }

            a {
                text-transform: uppercase;

                font-size: 14px;

                letter-spacing: 1px;
            }
        }
    }
}

.bottom-line {
    padding: $baseline * 2 0;

    margin-bottom: $baseline;
}

.bottom-line form {
    float: right;
}

.bottom-line .logo{
    margin: 6px 0px 8px 0px;

    img {
        vertical-align: middle;
    }
}
