/**
 *
 * Login
 *
 */

.login {

    .sign-up,
    .sign-in{

        background: white;

        padding: 15px 30px 30px 30px;

        border-radius: $btn-border-radius;

        box-shadow: 0px 1px 2px rgba(0,0,0,0.05);

    }

}
