/**
 *
 * Responsive rules
 *
 */

 @media(max-width: 1024px) {
    .card .card-bottom .price {
        font-size: 12px;
    }

    .card .card-bottom .shop a{
        width: 40px;
        height: 44px;
    }

    .card .card-bottom .shop a i{
        width: 40px;
        line-height: 40px;

        font-size: 16px;
    }

    .sign-in,
    .sign-up {
        margin-bottom: $baseline;
    }
 }

  @media(max-width: 767px) {
    .main-header .bottom-line {
        padding: $baseline 0;
    }

    .main-header .bottom-line form {
        display: none;
    }

    .main-header .bottom-line .logo {
        text-align: center;
    }

    .main-header .top-line {
        display: none;
    }

    .main-header .bottom-line {
        // padding: 55px 0 20px;
        display: none;
    }

    .fixed-nav {
        display: block;
    }
 }
