/**
 *
 * Typography
 *
 */


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    color: $color-text;

    font-family: $body-font;
    font-size: $body-font-size;

    background: $color-bg;
}

p {
    margin: 0 0 $baseline 0;
}

a {
    color: $color-text;

    &:hover {
        color: $color-link;

        text-decoration: none;
    }

    &:focus {
        color: darken($color-link, 10%);

        text-decoration: none;
    }
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;

    text-transform: uppercase;
}

h2 {
    font-size: 22px;

    text-transform: uppercase;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

.clear {
    clear: both;
}

.text-center {
    text-align: center;
}

