/**
 *
 * Variables
 *
 */

/* Typography variabes */
$body-font-size: 16px;
$baseline: ($body-font-size * 1.5);
$theme-margin: ($baseline * 3);

$heading-font: "Roboto", "Open Sans", sans-serif;
$body-font: "Roboto", "Open Sans", sans-serif;

/* Colors */
$color-link: #EE2B47;
$color-text: #323232;
$color-text-light: #797979;
$color-hr: #ECECEC;
$color-bg: #F4F4F4;
$color-bg-btn: #F9F9F9;
$color-text-btn: #757575;

/* Button variables */
$btn-border-radius: 2px;



